.dashboard {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dashboard div {
    flex: 1;
    /* flex-basis: 25%; */
}

.drag {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 8px;
    background-color: hotpink;
    cursor: grab;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 10px;
  }
